#zero {
	width: 180px;
}

#output {
	font-style: oblique;
	font-weight: bold;
	background-color: black;
	color: white;
	border-radius: 5px;
	text-align: right;
	width: 360px;
}

#calculator-container {
	border-radius: 10px;
	background-color: black;
	width: 360px;
	margin-top: 5%;
	margin-left: 43%;
	margin-right: 25%;
}

body {
	background-image: url(logo.svg);
	background-color: rgba(66, 65, 65, 0.829);
}

h1 {
	font-weight: bold;
	font-style: oblique;
	color: white;
	text-align: center;
}

button {
	background-color: rgba(61, 62, 66, 0.507);
	border-radius: 10px;
	font-weight: bold;
	font-style: oblique;
	color: white;
	cursor: pointer;
	transition: 0s all;
	font-size: 30px;
	height: 100px;
	width: 90px;
}

button:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px white;
}

.right {
	background-color: blue;
	color: white;
}

.number {
	font-size: 30px;
	overflow: auto;
}

.bottom {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: rgba(65, 66, 70, 0.357);
	text-align: center;
	padding: 20px;
	font-weight: bold;
	font-style: oblique;
	color: white;
}
